.battles-list
    width: 800px;
    padding: 0px;
    &__header
        list-style: none;
        height: 40px;
        margin: 8px;
        padding: 0 20px;
        div
            text-align: center;
            vertical-align: middle;
            display: inline-block;
        &__id
            width: 50px;
        &__session-name
            width: 320px;
        &__created-at
            width: 120px;
        &__updated-at
            width: 120px;
        &__delete
            width: 110px;
    &__session
        list-style: none;
        margin: 4px;
        color: black;
        div
            display: inline-block;
        &__id
            width: 50px;
            text-align: center;
        &__session-name
            width: 320px;
            text-align: center;
        &__created-at
            width: 120px;
            text-align: center;
        &__updated-at
            width: 120px;
            text-align: center;
        &__delete
            width: 60px;
            text-align: center;
            vertical-align: middle;
