.button
    &__delete
        border-radius: 4px;
        padding: 6px;
        color: #fff;
        width: 100px;
        background-color: #f44242;
        &:hover
            background-color: #d63939;
            cursor: pointer;
    &__primary
        border-radius: 4px;
        padding: 6px;
        color: #fff;
        background-color: #4c94ff;
        &:hover
            background-color: #77aeff;
            cursor: pointer;
    &__secondary
        border-radius: 4px;
        padding: 6px;
        color: #292b2c;
        width: 100px;
        background-color: #fff;
        border-color: #ccc;
        &:hover
            background-color: #e6e6e6;
            border-color: #adadad;
            cursor: pointer;

