.input-field
    background-color: transparent;
    &__number
        font-size: 16px;
        height: 32px;
        width: 50px;
        border-radius: 3px;
        border: none;
        background-color: transparent;
        &.--left
            text-align: left;
        &.--center
            text-align: center;
        &.--right
            text-align: right;

        &.--show-border
            border: inset;
        &:focus
            border: inset;
        &.-small
            width: 24px;
        &.--middle
            width: 50px;
        &.--large
            width: 100px;
    &__text
        font-size: 16px;
        height: 32px;
        border-radius: 3px;
        border: none;
        background-color: transparent;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.--show-border
            border: inset;
        &:focus
            border: inset;
        &.--small
            width: 80px;
        &.--middle
            width: 160px;
        &.--large
            width: 320px;
