.character-table
    font: 16px;
    margin: 20px;
    border-spacing: 12px;
    text-align: center
    &__character
        &__name
        &__action-priority, &__hp, &__physical-defence, &__magical-defence, &__max-hp
            font-size: 16px;
            height: 20px;
            width: 50px;
            border-radius: 3px;
        &__delete-button
            padding: 6px;
            width: 100px;
            color: #fff;
            background-color: #f44242;
            &:hover
                background-color: #d63939;
                cursor: pointer;

.add-character
    font: 16px;
    margin: 20px;
    &__input
        font-size: 16px;
        height: 24px;
        width: 150px;
        border-radius: 3px;
    &__button
        margin-left: 20px;
        padding: 6px;
        width: 200px;
        color: #fff;
        background-color: #42d4f4;
        &:hover
            background-color: #36afc9;
            cursor: pointer;

.dice-roller
    font: 16px;
    margin: 20px;
    &__dice-count, &__dice-max
        margin: 10px;
        width: 55px;
        height: 30px
        border: 1px solid #bbbbbb;
        font-size: 16px;
    &__roll-button
        margin-left: 10px;
        width: 80px;
        height: 30px;
        background-color: #bbbbbb;
        &:hover
            background-color: #a8a8a8;
            cursor: pointer;
    &__result
        &__sum
            margin: 0px 15px
            font-size: 20px;
        &__critical
            color: #ffd326;
        &__fanble
            color: red;

.battles-list
    font: 16px;
    margin: 20px;
    border-spacing: 12px;
    text-align: center


// TODO : create-session と add-character は同じスタイルなので使い回す。
.create-session
    font: 16px;
    margin: 20px;
    &__input
        font-size: 16px;
        height: 24px;
        width: 150px;
        border-radius: 3px;
    &__button
        margin-left: 20px;
        padding: 6px;
        width: 200px;
        color: #fff;
        background-color: #42d4f4;
        &:hover
            background-color: #36afc9;
            cursor: pointer;
