.button__delete {
  padding: 6px;
  color: #fff;
  width: 100px;
  background-color: #f44242;
}
.button__delete:hover {
  background-color: #d63939;
  cursor: pointer;
}
.button__primary {
  padding: 6px;
  color: #fff;
  background-color: #4c94ff;
}
.button__primary:hover {
  background-color: #77aeff;
  cursor: pointer;
}
.button__secondary {
  padding: 6px;
  color: #292b2c;
  width: 100px;
  background-color: #fff;
  border-color: #ccc;
}
.button__secondary:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  cursor: pointer;
}
.button-dropdown {
  margin: 1px;
  display: inline-block;
  width: fit-content;
}
.button-dropdown__button {
  border-color: transparent;
  cursor: pointer;
  padding: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  border-radius: 8px;
  background-color: #f6f7f8;
}
.button-dropdown__button:focus {
  outline: none;
}
.button-dropdown__button:hover {
  background-color: #e2edd7;
}
.button-dropdown__button.--active {
  background-color: #6ae400;
}
.dropdown-list {
  margin: 0px;
  font-size: 12px;
  position: absolute;
  background-color: #f9f9f9;
  max-height: 120px;
  min-width: 60px;
  overflow: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 4px;
  z-index: 1;
}
.dropdown-list__item {
  color: #000;
  padding: 2px 8px;
  text-decoration: none;
  display: block;
}
.dropdown-list__item:hover {
  background-color: #f1f1f1;
}
.icon-button {
  color: #292b2c;
  width: 48px;
  height: 48px;
  font-size: 32px;
  background-color: transparent;
  border: none;
}
.icon-button:hover {
  cursor: pointer;
}
.icon-button:focus {
  border: none;
}
.input-field {
  background-color: transparent;
}
.input-field__number {
  font-size: 16px;
  height: 20px;
  width: 50px;
  border-radius: 3px;
  border: none;
  background-color: transparent;
}
.input-field__number.--right {
  text-align: right;
}
.input-field__number.--show-border {
  border: inset;
}
.input-field__number:focus {
  border: inset;
}
.input-field__number.-small {
  width: 24px;
}
.input-field__number.--middle {
  width: 50px;
}
.input-field__number.--large {
  width: 100px;
}
.input-field__text {
  font-size: 16px;
  height: 24px;
  border-radius: 3px;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-field__text.--show-border {
  border: inset;
}
.input-field__text:focus {
  border: inset;
}
.input-field__text.--small {
  width: 80px;
}
.input-field__text.--middle {
  width: 160px;
}
.input-field__text.--large {
  width: 320px;
}
.input-field-with-button {
  font: 16px;
  margin: 20px;
}
.input-field-with-button__button {
  margin-left: 20px;
}
.dropdown {
  margin: 10px;
  width: 55px;
  height: 30px;
  border: 1px solid #bbb;
  font-size: 16px;
}
.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  visibility: visible;
}
.modal-wrapper .dialog-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 4px;
  width: 360px;
  height: 240px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  vertical-align: middle;
}
.modal-wrapper .dialog-window__description {
  margin-top: 20px;
  margin-bottom: 80px;
}
.modal-wrapper .dialog-window__enter-button {
  display: inline;
}
.modal-wrapper .dialog-window__cancel-button {
  margin-left: 20px;
  display: inline;
}
.side-modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  visibility: visible;
}
.side-modal-wrapper .side-window {
  overflow: scroll;
  position: fixed;
  box-sizing: border-box;
  display: inline-block;
  z-index: 1000;
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 4px;
  width: 1200px;
  height: 100%;
  right: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  vertical-align: middle;
}
.side-modal-wrapper .side-window__description {
  margin-top: 20px;
  margin-bottom: 80px;
}
.side-modal-wrapper .side-window__enter-button {
  display: inline;
}
.side-modal-wrapper .side-window__cancel-button {
  margin-left: 20px;
  display: inline;
}
.text-checkbox {
  display: none;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 8px;
  margin: 1px;
  border-radius: 8px;
  background-color: #f6f7f8;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
}
.text-checkbox:hover {
  background-color: #e2edd7;
}
.text-checkbox:hover:after {
  border-color: #53b300;
}
input[type=checkbox]:checked + .text-checkbox {
  background-color: #6ae400;
}
input[class=text-checkbox] {
  display: none;
}
.card-container {
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  padding: 20px;
  margin: 20px;
  width: fit-content;
  background-color: #fff;
}
.card-container.--clickable:hover {
  background-color: #efefef;
}
.textarea {
  width: 100%;
  height: 70px;
  max-height: 70px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}
body {
  background-color: #ecebea;
}
.character-table {
  width: 1600px;
}
.character-table__session-name {
  font-size: 24px;
  width: 100%;
}
.character-table__table {
  width: 100%;
  margin-top: 12px;
  font-size: 16px;
  text-align: center;
  border-spacing: 0px;
}
.character-table__table__character__is-acted,
.character-table__table__character__name,
.character-table__table__character__attribute {
  width: 100px;
  height: 80px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.character-table__table__character__name {
  width: 120px;
}
.character-table__table__character__hp,
.character-table__table__character__physical-defence,
.character-table__table__character__magical-defence,
.character-table__table__character__action-priority {
  width: 140px;
  height: 80px;
}
.character-table__table__character__badstatus {
  width: 260px;
  margin: 4px;
}
.character-table__table__character__memo {
  width: 400px;
}
.character-table__table__character__delete-button {
  width: 160px;
}
.character-table__table__character.--next {
  -webkit-transition: background-color 0.2s linear;
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  transition: background-color 0.2s linear;
  background-color: #ffa500;
}
.character-details__name {
  font-size: 24px;
}
.character-details__attribute-values {
  margin-top: 16px;
}
.character-details__attribute-values__title {
  font-size: 18px;
}
.character-details__attribute-values__table1 {
  padding: 4px;
}
.character-details__attribute-values__table1__attribute {
  text-align: center;
}
.character-details__attribute-values__table2 {
  padding: 4px;
}
.character-details__skills {
  margin-top: 16px;
}
.character-details__skills__title {
  font-size: 18px;
}
.character-details__skills__table__skill {
  height: 28px;
}
.dice-roller {
  font: 16px;
}
.dice-roller__roll-button {
  margin-left: 10px;
  width: 80px;
  height: 30px;
  background-color: #bbb;
}
.dice-roller__roll-button:hover {
  background-color: #a8a8a8;
  cursor: pointer;
}
.dice-roller__result__sum {
  margin: 0px 15px;
  font-size: 20px;
}
.dice-roller__result__critical {
  color: #ffd326;
}
.dice-roller__result__fanble {
  color: #f00;
}
.battles-list {
  width: 800px;
  padding: 0px;
}
.battles-list__header {
  list-style: none;
  height: 40px;
  margin: 8px;
  padding: 0 20px;
}
.battles-list__header div {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.battles-list__header__id {
  width: 50px;
}
.battles-list__header__session-name {
  width: 200px;
}
.battles-list__header__created-at {
  width: 160px;
}
.battles-list__header__updated-at {
  width: 160px;
}
.battles-list__session {
  list-style: none;
  width: 800px;
  margin: 4px;
  color: #000;
}
.battles-list__session div {
  display: inline-block;
}
.battles-list__session__id {
  width: 50px;
  text-align: center;
}
.battles-list__session__session-name {
  width: 200px;
  text-align: center;
}
.battles-list__session__created-at {
  width: 160px;
  text-align: center;
}
.battles-list__session__updated-at {
  width: 160px;
  text-align: center;
}
.save-container {
  margin: 20px 0px 0px 20px;
}
.save-container__save-newly-button {
  margin-left: 20px;
}
