.button__delete {
  padding: 6px;
  color: #fff;
  width: 100px;
  background-color: #f44242;
}
.button__delete:hover {
  background-color: #d63939;
  cursor: pointer;
}
.button__primary {
  padding: 6px;
  color: #fff;
  margin-left: 20px;
  width: 160px;
  background-color: #4c94ff;
}
.button__primary:hover {
  background-color: #77aeff;
  cursor: pointer;
}
.input-field__number {
  font-size: 16px;
  height: 20px;
  width: 50px;
  border-radius: 3px;
}
.input-field__text {
  font-size: 16px;
  height: 24px;
  width: 160px;
  border-radius: 3px;
}
.input-field-with-button {
  font: 16px;
  margin: 20px;
}
.character-table {
  font: 16px;
  margin: 20px;
  border-spacing: 12px;
  text-align: center;
  border-spacing: 0px;
}
.character-table__character td {
  width: 80px;
  height: 50px;
}
.character-table__character.--next {
  background-color: #ffa500;
}
.dice-roller {
  font: 16px;
  margin: 20px;
}
.dice-roller__dice-count,
.dice-roller__dice-max {
  margin: 10px;
  width: 55px;
  height: 30px;
  border: 1px solid #bbb;
  font-size: 16px;
}
.dice-roller__roll-button {
  margin-left: 10px;
  width: 80px;
  height: 30px;
  background-color: #bbb;
}
.dice-roller__roll-button:hover {
  background-color: #a8a8a8;
  cursor: pointer;
}
.dice-roller__result__sum {
  margin: 0px 15px;
  font-size: 20px;
}
.dice-roller__result__critical {
  color: #ffd326;
}
.dice-roller__result__fanble {
  color: #f00;
}
.battles-list {
  font: 16px;
  margin: 20px;
  border-spacing: 12px;
  text-align: center;
}
