.button
    &__delete
        padding: 6px;
        color: #fff;
        width: 100px;
        background-color: #f44242;
        &:hover
            background-color: #d63939;
            cursor: pointer;
    &__primary
        padding: 6px;
        color: #fff;
        margin-left: 20px;
        width: 160px;
        background-color: #4c94ff;
        &:hover
            background-color: #77aeff;
            cursor: pointer;
