.icon-button
    color: #292b2c;
    width: 48px;
    height 48px;
    font-size: 32px;
    background-color: transparent;
    border: none;
    &:hover
        cursor: pointer;
    &:focus
        border: none;
