@import 'components/button.styl'
@import 'components/button-dropdown.styl'
@import 'components/icon-button.styl'
@import 'components/input-field.styl'
@import 'components/input-field-with-button.styl'
@import 'components/dropdown.styl'
@import 'components/dialog.styl'
@import 'components/side-modal.styl'
@import 'components/text-checkbox.styl'
@import 'components/card-container.styl'
@import 'components/textarea.styl'

@import 'pages/show-battle-table.styl'
@import 'pages/list-battles.styl'

@import 'react-toastify/dist/ReactToastify.css'

body
    background-color: #ecebea;

th
    font-weight: inherit;