.character-table
    font: 16px;
    margin: 20px;
    border-spacing: 12px;
    text-align: center
    &__character
        &__name
        &__action-priority, &__hp, &__physical-defence, &__magical-defence
            font-size: 16px;
            height: 20px;
            width: 40px;
            border-radius: 3px;
        &__delete-button
            padding: 6px;
            width: 100px;
            color: #fff;
            background-color: #f44242;
            &:hover
                background-color: #d63939;
                cursor: pointer;

.add-character
    font: 16px;
    margin: 20px;
    &__input
        font-size: 16px;
        height: 24px;
        width: 150px;
        border-radius: 3px;
    &__button
        margin-left: 20px;
        padding: 6px;
        width: 200px;
        color: #fff;
        background-color: #42d4f4;
        &:hover
            background-color: #36afc9;
            cursor: pointer;

.dice-roller
    font: 16px;
    margin: 20px;
